@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
$colorMain: #152dff;
*{
  font-family: 'Montserrat', sans-serif;
}
body{
  padding: 200px 0 0 0;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 400px;
  @media (max-width: 991px){
    background-size: auto 350px;
  }
  @media (max-width: 767px){
    padding: 150px 0 0 0;
    background-size: auto 300px;
  }
}
.content{
  padding: 0 0 50px 0;
  @media (max-width: 767px) {
    padding: 0;
  }
}
.wrapper{
  background-color: #fff;
  box-shadow: 0 0 10px $colorMain;
  border-radius: 10px;
  @media (max-width: 767px){
    box-shadow: none;
  }
}
.title{
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  @media (max-width: 767px){
    font-size: 24px;
    text-align: center;
  }
}
.text{
  color: #5a5b5c;
  font-weight: 500;
  line-height: 24px;
  @media (max-width: 767px){
    font-size: 14px;
    line-height: 20px;
  }
}
.description{
  text-indent: 25px;
  font-size: 14px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0 ;
  @media (max-width: 575px){
    margin: 0 0 20px 0;
  }
  &__img{
    position: relative;
    bottom: 100px;
    margin: 0 0 -80px 0;
    @media (max-width: 767px){
      bottom: 75px;
      margin: 0 0 -55px 0;
    }
  }
  &__photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    @media (max-width: 767px){
      width: 150px;
      height: 150px;
    }
  }
  &__name{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    @media (max-width: 767px) {
      font-size: 30px;
    }
    @media (max-width: 450px){
      font-size: 25px;
    }
  }
  &__post{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: $colorMain;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 30px 0;
    border-radius: 10px;
    @media (max-width: 767px){
      font-size: 14px;
    }
    @media (max-width: 450px){
      font-size: 10px;
    }
  }
}
.main{
  padding: 0 30px;
  &__item{
    &--filmography{
      padding: 0 0 30px 0;
      &__title{
        margin: 0 0 15px 0;
      }
    }
  }

}
.about{
  margin: 0 0 100px;
  @media (max-width: 991px){
    margin: 0 0 50px;
  }
  @media (max-width: 767px){
    margin: 0 0 40px;
  }
  &__title{
    margin: 0 0 15px 0 ;
  }
  &__text{
    padding: 0 25px 0 0;
    @media (max-width: 767px){
      padding: 0;
      font-size: 12px;
    }
  }
}
.contacts{
  @media (max-width: 991px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 767px){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__element{
    margin: 0 0 30px 0;
    position: relative;
    @media (max-width: 991px) {
      flex: 0 1 50%;
    }
    @media (max-width: 767px){
      flex: 0 1 100%;
      margin-left:100px;
    }
    @media (max-width: 575px){
      flex: 0 1 100%;
      margin-left: 0;
    }
  }
  &__title{
    font-size: 18px;
    margin: 0 0 10px 55px ;
    @media (max-width: 450px){
      font-size: 14px;
      margin: 0 0 10px 40px;
    }
  }
  &__link{
    font-size: 18px;
    margin: 0 0 0 55px;
    color: $colorMain;
    transition: all ease 0.3s;
    @media (max-width: 450px){
      font-size: 14px;
      margin: 0 0 0 40px;
    }
    &:hover{
      text-decoration: underline;
      color: darkred;
    }
  }
  &__icon{
    position: absolute;
    font-size: 40px;
    color: $colorMain;
    top: 2px;
    @media (max-width: 450px){
      font-size: 30px;
      top: 4px
    }
  }
}
.accordion{
  &--item{
    &--header{
      &__button{
        font-size: 30px;
        font-weight: 600;
        border: 1px solid $colorMain;
        border-radius: 20px;
        width: 100%;
        padding: 15px 0;
        background-color: #fff;
        transition: all ease 0.5s;
        margin: 0 0 5px 0;
        &[aria-expanded=true]{
          background-color: $colorMain;
          color: #fff;
        }
        @media (max-width: 767px){
          font-size: 20px;
        }
      }
    }
    &--collapse{
      &--film{
        margin: 0 0 10px 0;
        border-bottom: 1px solid $colorMain;
        padding: 10px 0;
        &__description{
          line-height: 20px;
        }
        &:last-child{
          border-bottom: none;
        }
        &--flex{
          display: flex;
          @media (max-width: 450px){
            flex-direction: column;
          }
          &__img{
            flex: 0 1 30%;
            align-self: center;
            @media (max-width: 767px){
              margin: 0 0 10px 0;
              img{
                width: 200px;
              }
            }
            @media (max-width: 450px){
              flex:0 1 100%;
            }
          }
          &--main{
            flex: 0 1 70%;
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            @media (max-width: 450px){
              flex: 0 1 100%;
            }
            &__name{
              text-align: center;
              font-weight: 600;
              margin: 0 0 10px 0;
              font-size: 30px;
              @media (max-width: 767px){
                font-size: 24px;
                margin: 0 0 30px 0;
              }
              @media (max-width: 450px){
                margin: 0 0 15px 0;
              }

            }
            &__director{
              font-weight: 500;
              margin: 0 0 15px 0;
              font-size: 18px;
              line-height: 20px;
              span{
                font-size: 16px;
              }
              @media (max-width: 767px){
                font-size: 16px;
                margin: 0 0 80px 0;
                span{
                  font-size: 15px;
                  display: block;
                  margin: 0 0 5px 0;
                }
              }
              @media (max-width: 450px){
                margin: 0 0 20px 0;
              }
            }
            &__link{
              color: $colorMain;
              font-size: 16px;
              margin: 0 0 10px 0;
              transition: all 0.3s ease;
              span{
                font-weight: 500;
                font-size: 18px;
              }
              &:hover,
              &:active{
                text-decoration: underline;
                color: darkred;
              }
              @media (max-width: 767px){
                font-size: 14px;
                margin: 0 0 10px 0;
                span{
                  font-size: 16px;
                }
              }
            }
            }
          }
        }
      }
    }
  }



